html {
    height: 100%;
}

body {
    height: 100%;
}

#toolbar{
    margin: 20px;
}

#viz {
    height: 95%;
}

#currpage-slider {
    margin-top: 10px;
    margin-bottom: 10px;
}
#currpage-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
